// web font
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import url(http://fonts.googleapis.com/css?family=Limelight);

.logo-block {
    font-family: 'Limelight', cursive;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.screen-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

table {
    .btn-floating i {
        line-height: 27px;
        font-size: 0.9rem;
    }

    .btn-floating {
        width: 27px;
        height: 27px;
        line-height: 27px;
    }

    .dropdown-content li {
        width: 200px;
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 1rem;
}

.cta-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background: #EA006F;
    color: white;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease;
}

.modal-msg {
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-btn {
  margin-right: 10px;
  margin-left: 10px;
}

.modal-close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../bower_components/cta/img/close.png) no-repeat center;
    width: 32px;
    height: 32px;
    padding: 32px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-close-btn:hover {
    opacity: 1;
}

.cta-modal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.dialog {
    background: #eceff1;
    color: #263238;
    min-width: 300px;
    left: 50%;
    right: auto;
    top: 30%;
    bottom: auto;
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}